<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/allcars">Toutes les voitures </a>
        <a href="/newcar">Ajouter une nouvelle voiture </a>
    </nav>

    <%= data %>

    <h3>Mise à jour :</h3>
    <form action="/updatecar/<%= data._id %>?_method=PUT" method="post">
        <label for="marque">Marque</label>
        <input type="text" name="marque" value="<%= data.marque %>">
        <label for="modele">Modele</label>
        <input type="text" name="modele" value="<%= data.modele %>">
       
        <label for="description">Description</label>
        <textarea name="description" id="description">
            <%= data.description %>
        </textarea>
        <input type="submit" value="modifier la nouvelle voiture ">
    </form>

    <h3>Suppression de la donnée :</h3>

    <form action="/deletecar/<%= data._id%>?_method=DELETE" method="post">
        <input type="submit" value="Supprimer la donnée">
    </form>
</body>
</html>